[Unit]
After=network.target
Description=Tarjimon Bot

[Service]
Type=simple
WorkingDirectory=/root/iTarjimonBot/
ExecStart=/usr/bin/python3 main.py
Restart=always

[Install]
WantedBy=multi-user.target